<div id="filters" class="bg-white border border-gray-200 xl:col-span-2 md:col-span-1 px-5 py-5">
  <p class="font-header text-xl font-medium mb-2">Filtry</p>

  <% @filters.each do |category, facets| %>
    <p class="font-header text-lg font-medium mb-3"><%= category.name %></p>
    <div class="category" id="<%= "#{category.slug}"%>">
      <% facets.each do |facet| %>
        <div class="flex justify-between mb-3 <%= "text-gray-400" if facet.job_offers_count == 0 %>">
          <label class="inline-flex items-center">
            <input type="checkbox" value="<%= facet.slug %>" <%= "checked" if facet_slug_active?(facet.slug) %> class="form-checkbox rounded-none w-5 h-5" <%= "disabled" if facet.job_offers_count == 0 %> >
            <span class="ml-3"><%= facet.name %></span>
          </label>
          <span><%= facet.job_offers_count %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

