<%= link_to job_offer do %>
  <div class="border border-gray-300 px-6 py-5 flex items-center mb-8">
    <div class="w-12 mr-6">
      <% if job_offer.logo.attached? %>
        <%= image_tag(job_offer.logo) %>
      <% elsif job_offer.company.logo.attached? %>
        <%= image_tag(job_offer.company.logo) %>
      <% end %>
    </div>
    <div class="w-full">
      <div class="flex justify-between">
        <p class="text-gray-700 mb-3"><%= job_offer.company.name %></p>
        <% if policy(job_offer).create? %>
          <div class="text-sm">
            <%= link_to "Accept", job_offers_publications_path(token: job_offer.token), method: :post, class: "text-green-500" %> | 
            <%= link_to "Reject", job_offers_submission_path(token: job_offer.token), method: :delete, class: "text-red-500" %> 
          </div>
        <% else %>
          <p class="text-gray-400"><%= job_offer.time_since_publication %></p>
        <% end %>
      </div>
      <p class="text-lg font-bold"><%= job_offer.title %></p>
      <p class="text-gray-700"><%= job_offer.location_names %></p>
      <p class="text-sm mt-2 text-gray-700"><%= job_offer.salary %> (<%= job_offer.salary_type %>)</p>
    </div>
  </div>
<% end %>
