<div class="container m-auto max-w-3xl px-4 pt-8 pb-10">
  <h1 class="text-4xl font-bold text-red-800 font-serif mb-10 text-center">RubyJobs.pl</h1>
  <div class="flex justify-between">
    <div class="flex-1 text-center">
      <p class="border-b-4 border-red-600 text-red-600 font-bold pb-3 mb-3 text-xl">Krok 1</p>
      <p class="text-2xl text-gray-700">Dodaj<span class="hidden sm:inline"> ogłoszenie<span></p>
    </div>
    <div class="flex-1 text-center">
      <p class="border-b-4 text-red-600 font-bold pb-3 mb-3 text-xl">Krok 2</p>
      <p class="text-2xl text-gray-700">Podgląd<span class="hidden sm:inline"> ogłoszenia<span></p>
    </div>
    <div class="flex-1 text-center">
      <p class="border-b-4 text-red-600 font-bold pb-3 mb-3 text-xl">Krok 3</p>
      <p class="text-2xl text-gray-700 font-sans">Publikuj</p>
    </div>
  </div>
</div>

<div class="container mx-auto px-4 pb-10 max-w-3xl">
  <%= form_with model: @job_offer, local: true do |form| %>
    <h2 class="text-2xl text-red-600 border-b pb-2 mb-5">Informacje o stanowisku</h2>

    <div class="mb-6">
      <%= form.label :title, "Nazwa stanowiska", class: "block text-gray-700 mb-2 text-lg" %>
      <%= render partial: 'error', locals: {attribute_name: :title} %>
      <%= form.text_field :title, class: "#{'border-red-500' if @job_offer.errors[:title].present?} w-full border px-2 py-2 mb-1 rounded bg-gray-100 focus:bg-white" %>
      <p class="text-sm text-gray-500">Na przykład: Senior Ruby on Rails Developer.</p>
    </div>

    <div class="mb-6">
      <%= form.label :city_names, "Miasto", class: "block text-gray-700 mb-2 text-lg" %>
      <%= render partial: 'error', locals: {attribute_name: :locations} %>
      <%= form.text_field :city_names, class: "#{'border-red-500' if @job_offer.errors[:locations].present?} w-full border px-2 py-2 mb-1 rounded bg-gray-100 focus:bg-white" %>
      <p class="text-sm text-gray-500">Na przykład: Warszawa, Białystok.</p>
      <div>
        <%= form.label :remote, class: "text-gray-700 block mt-2" do %>
          <%= form.check_box :remote, class: "mr-2 align-middle" %>
          <span class="">
            Praca zdalna?
          </span>
        <% end %>
      </div>
    </div>

    <div class="mb-6">
      <%= form.label :salary, "Zarobki", class: "block text-gray-700 mb-2 text-lg" %>
      <%= render partial: 'error', locals: {attribute_name: :salary} %>
      <%= form.text_field :salary, class: "#{'border-red-500' if @job_offer.errors[:salary].present?} mr-4 border px-2 py-2 mb-1 rounded bg-gray-100 focus:bg-white" %>
      <div class="relative inline-block">
        <%= form.select :salary_type, options_for_select(["B2B", "Umowa o pracę", "Umowa o dzieło"], @job_offer.salary_type), {}, class: "w-20 sm:w-48 px-2 py-2 rounded bg-gray-100 border appearance-none" %>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
      <p class="text-sm text-gray-500">Widełki płacowe, np. 5000 - 7000.</p>
    </div>

    <div class="mb-6">
      <%= form.label :description, "Treść ogłoszenia", class: "block text-gray-700 mb-2 text-lg" %>
      <%= form.trix_editor :description, class: "border w-full rounded px-6 py-5 bg-gray-100 focus:bg-white" %>
    </div>

    <div class="mb-6">
      <%= form.label :apply_link, "Link do aplikowania", class: "block text-gray-700 mb-2 text-lg" %>
      <%= render partial: 'error', locals: {attribute_name: :apply_link} %>
      <%= form.text_field :apply_link, class: "#{'border-red-500' if @job_offer.errors[:apply_link].present?} w-full border px-2 py-2 mb-1 rounded bg-gray-100 focus:bg-white" %>
      <p class="text-sm text-gray-500">Np. https://nazwafirmy.pl/jobs/apply lub jobs@nazwafirmy.pl</p>
    </div>

    <h2 class="text-2xl text-red-600 border-b pb-2 mb-5">Informacje o firmie</h2>

    <%= form.fields_for :company do |company_fields| %>
      <div class="mb-6">
        <%= form.label :name, "Nazwa firmy", class: "block text-gray-700 mb-2 text-lg" %>
        <%= render partial: 'error', locals: {attribute_name: :'company.name'} %>
        <%= company_fields.text_field :name, class: "#{'border-red-500' if @job_offer.errors[:apply_link].present?} w-full border px-2 py-2 mb-1 rounded bg-gray-100 focus:bg-white" %>
      </div>
    <% end %>

    <div class="mb-6">
      <%= form.label :logo, "Logo", class: "block text-gray-700 mb-2 text-lg" %>
      <%= form.file_field :logo, class: "border px-2 py-2 mb-1 rounded bg-gray-100 focus:bg-white" %>
    </div>

    <div class="mb-6">
      <%= form.label :email, "Email", class: "block text-gray-700 mb-2 text-lg" %>
      <%= render partial: 'error', locals: {attribute_name: :email} %>
      <%= form.text_field :email, class: "#{'border-red-500' if @job_offer.errors[:email].present?} w-full border px-2 py-2 mb-1 rounded bg-gray-100 focus:bg-white" %>
    </div>

    <div class="flex justify-between border-t pt-8">
      <button class="text-red-600 py-4 text-xl font-bold"></button>
      <%= form.submit "Dalej", class: "bg-red-600 text-white px-12 py-4 text-xl font-bold rounded" %>
    </div>
  <% end %>
</div>
