<div class="border-b">
  <div class="container mx-auto mb-8">
    <div class="pt-8 pb-8 px-5 max-w-4xl">
      <div class="border-b pb-5">
        <p class="text-gray-800 text-xl mb-2"><%= @job_offer.company.name %></p>
        <p class="text-2xl font-bold"><%= @job_offer.title %></p>
        <p class="text-gray-800 mb-2"><%= @job_offer.location_names %></p>
        <p class="text-gray-800"><%= @job_offer.salary %> (<%= @job_offer.salary_type %>)</p>
      </div>
      <div class="mt-5 leading-relaxed text-gray-800 mb-6">
        <div class="trix-content" ng-bind-html="$ctrl.offer.body">
          <%= @job_offer.description.html_safe %>
        </div>
      </div>
      <%= link_to "Aplikuj teraz", job_offers_redirect_path(@job_offer.id), class: "bg-red-600 text-white font-bold px-6 py-4 inline-block text-lg" %> 
    </div>
  </div>
</div>

