<div class="border-b border-gray-200 overflow-hidden">
  <div class="container m-auto py-5 px-5 flex md:items-baseline items-center">
    <%= link_to "RubyJobs.pl", root_path, class: "text-2xl text-red-800 font-bold" %>
    <div class="hidden md:flex justify-between flex-grow ml-4">
      <div>
        <a class="mr-2" href="<%= "#{root_url}blog" %>">Blog</a>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to('Wyloguj się', destroy_user_session_path, method: :delete, class: 'mr-2') %>        
        <% else %>
          <%= link_to('Zaloguj się', new_user_session_path, class: 'mr-2') %>  
        <% end %>
        <%= link_to "Dodaj ogłoszenie", new_job_offer_path, class: "p-3 border-2 border-red-400" %>
      </div>
    </div>
    <div id="open-top-nav" class="md:hidden text-gray-700 flex-grow flex flex-row-reverse">
      <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </div>
  </div>
</div>
<div id="top-nav" class="hidden md:hidden border-b border-gray-200 container m-auto py-5 px-5 text-lg leading-relaxed">
  <div class="flex flex-col mb-4">
    <a href="<%= "#{root_url}blog" %>">Blog</a>
  </div>
  <div class="flex flex-col">
    <% if user_signed_in? %>
      <%= link_to('Wyloguj się', destroy_user_session_path, method: :delete) %>        
    <% else %>
      <%= link_to('Zaloguj się', new_user_session_path) %>  
    <% end %>
    <%= link_to "Dodaj ogłoszenie", new_job_offer_path, class: "text-red-600" %>
  </div>
</div>
