<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/google_analytics' %>
    <title>RubyJobs.pl - Ogłoszenia pracy dla programistów Rubiego</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="<%= image_path("og_logo.png") %>" />
    <%= favicon_link_tag('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div id="flash-message" class="bg-red-500 p-4 text-center text-white font-bold relative">
        <%= flash[:notice] %>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg id="close-flash-message" class="fill-current h-6 w-6 text-white" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Zamknij</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
    <% end %>

    <div class="container mx-auto mt-4 px-4">
      <div class="flex justify-between items-center border-b pb-4">
        <%= link_to root_path do %>
          <div class="flex">
            <div class="font-bold text-red-800 border-2 border-red-800 px-2 py-1 mr-3">RJ</div>
            <div class="text-2xl text-red-800 font-bold">RubyJobs.pl</div>
          </div>
        <% end %>
        <div class="hidden md:block">
          <%= link_to "Dodaj ogłoszenie", new_job_offer_path, class: "text-red-600 font-bold px-6 py-3 inline-block rounded border-2 border-red-600" %>
        </div>
        <div id="menu-button" class="md:hidden text-gray-600">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </div>
      </div>
    </div>

    <div id="menu-container" class="container mx-auto hidden px-4 pt-2 flex flex-col items-end">
      <%= link_to "Dodaj ogłoszenie", new_job_offer_path, class: "text-red-600 text-sm font-bold px-6 py-3 inline-block rounded mb-3 border-2 border-red-600" %>
    </div>

    <%= yield %>
  </body>
</html>
